In [1]:
import csv
import requests
import pandas as pd
import json
from pandas.io.json import json_normalize

In [2]:
# Obtain all player_id from webscraped csv file
player_id = []

with open('players_full_dataset.csv') as csvDataFile:
    csvReader = csv.reader(csvDataFile)
    for row in csvReader:
        player_id.append(row[1])

print(player_id[1:30])

['Oculus Mortis I', 'adi1936', 'xRubberDuckZ', 'MAGNUM MU5TACHE', 'Divine Yuuko', 'z Devotionn', 'fOOzviking', 'IH8YourFace420', 'AKATH3SCI3NTIST', 'Korpus Draige', 'iUncleBadTouchx', 'IXBlackTigerXl', 'Benz0 92', 'andy0fCov', 'K1 B4RT0', 'JOELDIRTYGOLD', 'MajiN BuU XVIII', 'MATTEO 30mm', 'BOOTYxKILLERv1', 'Adversity 64', 'Bringmeofasking', 'Stream0', 'XENOCIDER XIII', 'lmmune Crown', 'SK1RON1N', 'Eigi Einhamr', 'nG PaTo', 'CCH 20UA PL', 'GENJOHNPERSHING']

In [3]:
player_id = player_id[1:5]
print(player_id)

['Oculus Mortis I', 'adi1936', 'xRubberDuckZ', 'MAGNUM MU5TACHE']

In [4]:
# how do you create a key for the requested json file like this [Oculus Mortis I:{[player:,stats:,dogtags:]}]
# create an empty list
final_list=[]

# do api calls for 4 entries
for i in range(len(player_id)):
    # create an empty dictionary
    player_information = {}
    url_link = "https://api.bf4stats.com/api/playerInfo?plat=xone&name=" + player_id[i] + "&output=json"
    id = player_id[i]
    res = requests.get(url_link)
    j = res.json()
    final_list.append(j)

In [5]:
# verify if player keys are correct, reference third cell
for i in range(len(final_list)):
    print(final_list[i].keys())

dict_keys(['player', 'stats', 'dogtags', 'weapons', 'weaponCategory', 'kititems', 'vehicles', 'vehicleCategory', 'awards', 'assignments', 'upcomingUnlocks'])
dict_keys(['player', 'stats', 'dogtags', 'weapons', 'weaponCategory', 'kititems', 'vehicles', 'vehicleCategory', 'awards', 'assignments', 'upcomingUnlocks'])
dict_keys(['player', 'stats', 'dogtags', 'weapons', 'weaponCategory', 'kititems', 'vehicles', 'vehicleCategory', 'awards', 'assignments', 'upcomingUnlocks'])
dict_keys(['player', 'stats', 'dogtags', 'weapons', 'weaponCategory', 'kititems', 'vehicles', 'vehicleCategory', 'awards', 'assignments', 'upcomingUnlocks'])

In [6]:
json_normalize(final_list)

,assignments,awards,dogtags.advanced.category,dogtags.advanced.desc,dogtags.advanced.id,dogtags.advanced.image,dogtags.advanced.img,dogtags.advanced.license,dogtags.advanced.name,dogtags.basic.category,...,stats.streak,stats.suppressionAssists,stats.timePlayed,stats.vehicleDamage,stats.vehiclesDestroyed,upcomingUnlocks,vehicleCategory,vehicles,weaponCategory,weapons
0,"[{'id': 'SP_as03', 'image': 'sp_as03', 'name':...","[{'id': 'm27', 'mCount': 16, 'rCount': 803, 'm...",DTC_Weapons,Obtain 500 kills with the MG4,81,advanced81,bf4/dogtags/advanced81.png,None,MG4 Master Dog Tag,DTC_MPAssignments,...,3,15780,26393500,26717,26865,"[{'type': 'weaponStar', 'name': '6. Service St...","[{'id': 'vehicleifv', 'name': 'Infantry Fighti...","[{'stat': {'id': 'zbd-09', 'destroys': 472, 'k...","[{'name': 'GADGET', 'stat': {'score': None, 't...","[{'stat': {'id': 'ucav', 'shots': 457, 'hits':..."
1,"[{'id': 'SP_as03', 'image': 'sp_as03', 'name':...","[{'id': 'm27', 'mCount': 0, 'rCount': 6, 'mNam...",DTC_Medals,Obtain 5 Commander Surveillance Medals,45,advanced45,bf4/dogtags/advanced45.png,None,Commander Surveillance Medal Dog Tag,DTC_Misc,...,3,27491,23987600,4194,4165,"[{'type': 'weaponStar', 'name': '9. Service St...","[{'id': 'vehicleifv', 'name': 'Infantry Fighti...","[{'stat': {'id': 'zbd-09', 'destroys': 69, 'ki...","[{'name': 'GADGET', 'stat': {'score': None, 't...","[{'stat': {'id': 'ucav', 'shots': 0, 'hits': 0..."
2,"[{'id': 'SP_as03', 'image': 'sp_as03', 'name':...","[{'id': 'm27', 'mCount': 0, 'rCount': 0, 'mNam...",DTC_Medals,Obtain 5 Headshot Medals,7,advanced7,bf4/dogtags/advanced7.png,None,Headshot Medal Dog Tag,DTC_Premium,...,0,26539,12110400,8080,7509,"[{'type': 'weaponUnlock', 'name': 'HEAVY BARRE...","[{'id': 'vehicleifv', 'name': 'Infantry Fighti...","[{'stat': {'id': 'zbd-09', 'destroys': 296, 'k...","[{'name': 'GADGET', 'stat': {'score': None, 't...","[{'stat': {'id': 'ucav', 'shots': 0, 'hits': 0..."
3,"[{'id': 'SP_as03', 'image': 'sp_as03', 'name':...","[{'id': 'm27', 'mCount': 9, 'rCount': 452, 'mN...",DTC_Medals,Obtain 5 Jet Fighter Medals,27,advanced27,bf4/dogtags/advanced27.png,None,Jet Fighter Medal Dog Tag,DTC_Premium,...,0,33646,21797800,46735,43857,"[{'type': 'weaponStar', 'name': '6. Service St...","[{'id': 'vehicleifv', 'name': 'Infantry Fighti...","[{'stat': {'id': 'zbd-09', 'destroys': 728, 'k...","[{'name': 'GADGET', 'stat': {'score': None, 't...","[{'stat': {'id': 'ucav', 'shots': 2480, 'hits'..."

In [24]:
json_normalize(final_list[1]['player'])

,adminable,blPlayer,blUser,country,countryName,dateCheck,dateCreate,dateStreak,dateUpdate,editable,...,rank.next,rank.nr,score,tag,timePlayed,uGava,uId,uName,udCreate,viewable
0,False,http://battlelog.battlefield.com/bf4/soldier/a...,http://battlelog.battlefield.com/bf4/user/adi1...,GB,United Kingdom,1563767453267,1386959056002,1563548057502,1563767453267,False,...,None,140,369635183,,23987600,f7e4ef21147dd3629a20942fcfc87b85,2832664083187386418,adi1936,1351468335000,True

In [8]:
json_normalize(final_list[1]['stats'])

,avengerKills,bestStreak,deaths,dogtagsTaken,elo,extra.accuracy,extra.assignments,extra.assignmentsTotal,extra.gspm,extra.hkp,...,scores.unlock,scores.vehicle,shotsFired,shotsHit,skill,streak,suppressionAssists,timePlayed,vehicleDamage,vehiclesDestroyed
0,18921,6,74458,187,0,8.075131,59,108,73.591272,12.760153,...,202000,5800190,13544300,1093720,497,3,27491,23987600,4194,4165

In [9]:
json_normalize(final_list[1]['dogtags'])

,advanced.category,advanced.desc,advanced.id,advanced.image,advanced.img,advanced.license,advanced.name,basic.category,basic.desc,basic.id,basic.image,basic.img,basic.license,basic.name
0,DTC_Medals,Obtain 5 Commander Surveillance Medals,45,advanced45,bf4/dogtags/advanced45.png,None,Commander Surveillance Medal Dog Tag,DTC_Misc,The default blank Dog Tag,0,basic0,bf4/dogtags/basic0.png,None,Default Dog Tag

In [10]:
json_normalize(final_list[1]['vehicleCategory'])

,extra.kpm,extra.spm,id,name,stat.destroys,stat.kills,stat.score,stat.time,unlocks,unlocksCurr,unlocksTotal
0,0.489160,0.000000,vehicleifv,Infantry Fighting Vehicle,147,1039,NaN,127443,None,NaN,NaN
1,0.354934,0.000000,vehicleaa,Anti Air,215,286,NaN,48347,None,NaN,NaN
2,0.000000,0.000000,None,Transport KA-60,0,0,NaN,0,NaN,NaN,NaN
3,0.060547,0.000000,vehicletr,Transport,2,25,NaN,24774,None,NaN,NaN
4,0.132295,169.584007,vehiclesjet,Air Jet Stealth,12,15,19228.0,6803,"[{'id': 'belt-feeder2', 'category': 'UPGRADE',...",6.0,10.0
5,0.000000,0.000000,vehiclesh,Air Helicopter Scout AH6,0,0,108854.0,0,"[{'id': 'stealth-coating2', 'category': 'UPGRA...",27.0,27.0
6,0.000000,497.534247,vehicleajet,Air Jet Attack,2,0,3632.0,438,"[{'id': 'stealth-coating1', 'category': 'UPGRA...",1.0,9.0
7,1.280488,0.000000,stationary,Weapon Stationary,0,28,NaN,1312,None,NaN,NaN
8,0.000000,0.000000,None,HIMARS,0,0,NaN,0,NaN,NaN,NaN
9,0.000000,0.000000,None,Air Helicopter Scout z11,0,0,NaN,0,NaN,NaN,NaN
10,0.055504,0.000000,vehiclebo,Boat,1,1,NaN,1081,None,NaN,NaN
11,0.379147,0.000000,vehicleair,Air,2,8,NaN,1266,None,NaN,NaN
12,0.000000,0.000000,stationaryaa,Weapon Stationary AA,0,0,NaN,0,None,NaN,NaN
13,0.393836,683.842831,vehiclembt,Main Battle Tanks,666,2372,4118660.0,361369,"[{'id': 'thermal-camo1', 'category': 'UPGRADE'...",57.0,57.0
14,0.142827,0.000000,vehiclesh,Air Helicopter Scout,19,45,NaN,18904,None,NaN,NaN
15,0.000000,0.000000,None,MBT T90,0,0,NaN,0,NaN,NaN,NaN
16,0.427180,395.923987,vehicleah,Air Helicopter Attack,52,136,126049.0,19102,"[{'id': 'stealth-coating', 'category': 'UPGRAD...",12.0,12.0
17,0.250417,0.000000,vehiclemar,Mobile Artillery,0,5,NaN,1198,None,NaN,NaN
18,0.000000,0.000000,None,Transport UH-1Y Venom,0,0,NaN,234,NaN,NaN,NaN
19,0.000000,0.000000,soldier,Soldier Equiment,355,917,NaN,0,None,NaN,NaN
20,0.143262,673.842710,vehicleaboat,Fast Attack Craft,7,16,75257.0,6701,"[{'id': 'fast-attack-craft-thermal-camo', 'cat...",15.0,15.0
21,0.000000,0.000000,None,Jeep SPM3,0,0,NaN,0,NaN,NaN,NaN
22,0.000000,0.000000,None,MBT M1 Abrams,0,0,NaN,0,NaN,NaN,NaN
23,0.000000,0.000000,None,IFV LAV-25,0,0,NaN,0,NaN,NaN,NaN
24,0.000000,0.000000,vehicleifv,IFV BTR 90,0,0,1112910.0,0,"[{'id': 'thermal-camo', 'category': 'UPGRADE',...",51.0,51.0
25,0.000000,0.000000,None,AA 9K22 Tunguska,0,0,NaN,0,NaN,NaN,NaN
26,0.000000,0.000000,vehicleaa,AA LAV-AD,0,0,235601.0,0,"[{'id': 'thermal-camo2', 'category': 'UPGRADE'...",42.0,42.0

In [11]:
#create dummy variables for each line of data?
json_normalize(final_list[1]['weaponCategory'])

,extra.accuracy,extra.hkp,extra.kpm,extra.sfpm,extra.spm,name,stat.hits,stat.hs,stat.kills,stat.score,stat.shots,stat.time
0,19.055684,0.839339,1.152636,46.535739,0.000000,GADGET,168655,184,21922,NaN,885064,1141141
1,17.685950,53.333333,0.280864,4.531270,60.962427,SNIPER RIFLE,214,40,75,16279.0,1210,16022
2,7.553534,18.184111,0.938541,106.980434,184.496121,PDW,68277,1442,7930,1558860.0,903908,506957
3,7.117032,21.051511,1.057903,140.832001,203.981661,CARBINE,222555,4945,23490,4529270.0,3127076,1332258
4,24.621617,4.161588,1.624894,65.371800,0.000000,BATTLE PICKUP,56888,239,5743,NaN,231049,212063
5,3.992978,24.104771,0.914797,180.839512,163.100454,LMG,148570,4537,18822,3355800.0,3720782,1234503
6,43.779091,0.000000,4.576555,95.854123,809.070375,GRENADE,55117,0,6011,1062660.0,125898,78806
7,7.871395,11.497326,1.096453,74.862210,191.407212,DMR,4020,86,748,130578.0,51071,40932
8,6.489055,20.103039,0.926743,119.138220,176.506532,ASSAULT RIFLE,160301,3863,19216,3659860.0,2470329,1244099
9,0.000000,0.000000,0.000000,0.000000,0.000000,KNIFE,0,0,187,NaN,0,0
10,24.069259,5.979381,1.114650,44.913199,295.726537,SHOTGUN,127000,783,13095,3474220.0,527644,704885
11,13.523781,14.716066,1.910600,103.262399,305.017311,SIDEARM,21109,425,2888,461054.0,156088,90694

In [12]:
main_wc_list = []
for i in range(len(final_list[1]['weaponCategory'])):
    main_wc_list.append(final_list[1]['weaponCategory'][i]['name'])

In [13]:
main_wc_list

['GADGET',
 'SNIPER RIFLE',
 'PDW',
 'CARBINE',
 'BATTLE PICKUP',
 'LMG',
 'GRENADE',
 'DMR',
 'ASSAULT RIFLE',
 'KNIFE',
 'SHOTGUN',
 'SIDEARM']

In [14]:
sub_wc_list = []
for i in range(len(final_list[1]['weaponCategory'])):
    sub_wc_list.append(final_list[1]['weaponCategory'][i]['name'])

In [15]:
list(set(main_wc_list) - set(sub_wc_list))

[]

In [20]:
def json_norm_weapon(player_list,index):
    """
    takes the final list containing dictionary and returns parsed json
    :param final_list:
    :param player_name:
    :return: pandas data frame
    """
    df = player_list[index]['weaponCategory']
    df = json_normalize(df)
    df.index = df.name
    df = df.drop(['name'],axis=1)
    df_series = df.stack()
    df_normalized = df_series.to_frame().T
    df_normalized.columns = ['_'.join(col).strip() for col in df_normalized.columns.values]

    return df_normalized

In [21]:
## Try with some exampes
json_norm_weapon(final_list, index = 1)

,GADGET_extra.accuracy,GADGET_extra.hkp,GADGET_extra.kpm,GADGET_extra.sfpm,GADGET_extra.spm,GADGET_stat.hits,GADGET_stat.hs,GADGET_stat.kills,GADGET_stat.shots,GADGET_stat.time,...,SIDEARM_extra.hkp,SIDEARM_extra.kpm,SIDEARM_extra.sfpm,SIDEARM_extra.spm,SIDEARM_stat.hits,SIDEARM_stat.hs,SIDEARM_stat.kills,SIDEARM_stat.score,SIDEARM_stat.shots,SIDEARM_stat.time
0,19.055684,0.839339,1.152636,46.535739,0.0,168655.0,184.0,21922.0,885064.0,1141141.0,...,14.716066,1.9106,103.262399,305.017311,21109.0,425.0,2888.0,461054.0,156088.0,90694.0

In [22]:
def json_norm_vehicle(player_list,index):
    """
    takes the final list containing dictionary and returns parsed json
    :param final_list:
    :param player_name:
    :return: pandas data frame
    """
    df = player_list[index]['vehicleCategory']
    df = json_normalize(df)
    df.index = df.name
    df = df.drop(['name'],axis=1)
    df_series = df.stack()
    df_normalized = df_series.to_frame().T
    df_normalized.columns = ['_'.join(col).strip() for col in df_normalized.columns.values]

    return df_normalized

In [23]:
json_norm_vehicle(final_list, index = 1)

,Infantry Fighting Vehicle_extra.kpm,Infantry Fighting Vehicle_extra.spm,Infantry Fighting Vehicle_id,Infantry Fighting Vehicle_stat.destroys,Infantry Fighting Vehicle_stat.kills,Infantry Fighting Vehicle_stat.time,Anti Air_extra.kpm,Anti Air_extra.spm,Anti Air_id,Anti Air_stat.destroys,...,AA LAV-AD_extra.kpm,AA LAV-AD_extra.spm,AA LAV-AD_id,AA LAV-AD_stat.destroys,AA LAV-AD_stat.kills,AA LAV-AD_stat.score,AA LAV-AD_stat.time,AA LAV-AD_unlocks,AA LAV-AD_unlocksCurr,AA LAV-AD_unlocksTotal
0,0.48916,0,vehicleifv,147,1039,127443,0.354934,0,vehicleaa,215,...,0,0,vehicleaa,0,0,235601,0,"[{'id': 'thermal-camo2', 'category': 'UPGRADE'...",42,42

In [61]:
a = json_normalize(final_list[1]['player'])
b = json_normalize(final_list[1]['dogtags'])
c = json_normalize(final_list[1]['stats'])
d = json_norm_vehicle(final_list, index = 1)
e = json_norm_weapon(final_list, index = 1)
c_1 = c.drop('timePlayed', axis=1)

In [62]:
x = a.join(b).join(c_1).join(d).join(e)

In [65]:
x.to_csv('single_sample.csv')