In [1]:
import csv
import requests
import pandas as pd
import json
from pandas.io.json import json_normalize
import time

In [2]:
import jupyternotify
ip = get_ipython()
ip.register_magics(jupyternotify.JupyterNotifyMagics)

In [3]:
# Obtain all player_id from webscraped csv file
player_id = []

with open('players_full_dataset.csv') as csvDataFile:
    csvReader = csv.reader(csvDataFile)
    for row in csvReader:
        player_id.append(row[1])

print(player_id[1:3])

['Oculus Mortis I', 'adi1936']

In [4]:
player_id = player_id[1:3]
print(player_id)

['Oculus Mortis I', 'adi1936']

In [5]:
# how do you create a key for the requested json file like this [Oculus Mortis I:{[player:,stats:,dogtags:]}]
# create an empty list
final_list=[]

# do api calls for 4 entries
for i in range(len(player_id)):
    # create an empty dictionary
    url_link = "https://api.bf4stats.com/api/playerInfo?plat=xone&name=" + player_id[i] + "&output=json"
    id = player_id[i]
    res = requests.get(url_link)
    if res.status_code == 200:
        j = res.json()
        final_list.append(j)
    else:
        print(res.status_code)
        break

In [6]:
json_normalize(final_list)

,assignments,awards,dogtags.advanced.category,dogtags.advanced.desc,dogtags.advanced.id,dogtags.advanced.image,dogtags.advanced.img,dogtags.advanced.license,dogtags.advanced.name,dogtags.basic.category,...,stats.streak,stats.suppressionAssists,stats.timePlayed,stats.vehicleDamage,stats.vehiclesDestroyed,upcomingUnlocks,vehicleCategory,vehicles,weaponCategory,weapons
0,"[{'id': 'SP_as03', 'image': 'sp_as03', 'name':...","[{'id': 'm27', 'mCount': 16, 'rCount': 803, 'm...",DTC_Weapons,Obtain 500 kills with the MG4,81,advanced81,bf4/dogtags/advanced81.png,None,MG4 Master Dog Tag,DTC_MPAssignments,...,4,15787,26416500,26763,26917,"[{'type': 'weaponStar', 'name': '6. Service St...","[{'id': 'vehicleifv', 'name': 'Infantry Fighti...","[{'stat': {'id': 'zbd-09', 'destroys': 472, 'k...","[{'name': 'GADGET', 'stat': {'score': None, 't...","[{'stat': {'id': 'ucav', 'shots': 457, 'hits':..."
1,"[{'id': 'SP_as03', 'image': 'sp_as03', 'name':...","[{'id': 'm27', 'mCount': 0, 'rCount': 6, 'mNam...",DTC_Medals,Obtain 5 Commander Surveillance Medals,45,advanced45,bf4/dogtags/advanced45.png,None,Commander Surveillance Medal Dog Tag,DTC_Misc,...,3,27491,23987600,4194,4165,"[{'type': 'weaponStar', 'name': '9. Service St...","[{'id': 'vehicleifv', 'name': 'Infantry Fighti...","[{'stat': {'id': 'zbd-09', 'destroys': 69, 'ki...","[{'name': 'GADGET', 'stat': {'score': None, 't...","[{'stat': {'id': 'ucav', 'shots': 0, 'hits': 0..."

In [7]:
json_normalize(final_list[0]['player'])

,adminable,blPlayer,blUser,country,countryName,dateCheck,dateCreate,dateStreak,dateUpdate,editable,...,rank.next,rank.nr,score,tag,timePlayed,uGava,uId,uName,udCreate,viewable
0,False,http://battlelog.battlefield.com/bf4/soldier/O...,http://battlelog.battlefield.com/bf4/user/Ocul...,PR,Puerto Rico,1563878516271,1397603855674,1563593014668,1563865425925,False,...,None,140,413934704,MLKr,26416500,18c62ebeef01f0ad87131095d6471a4c,2955050137464093825,OculusMortisI,1383273178000,True

In [8]:
json_normalize(final_list[0]['stats'])

,avengerKills,bestStreak,deaths,dogtagsTaken,elo,extra.accuracy,extra.assignments,extra.assignmentsTotal,extra.gspm,extra.hkp,...,scores.unlock,scores.vehicle,shotsFired,shotsHit,skill,streak,suppressionAssists,timePlayed,vehicleDamage,vehiclesDestroyed
0,61563,31,283872,3679,0,11.790437,102,108,253.39163,15.30979,...,241950,18692700,18572000,2189720,501,4,15787,26416500,26763,26917

In [9]:
json_normalize(final_list[0]['vehicleCategory'])

,extra.kpm,extra.spm,id,name,stat.destroys,stat.kills,stat.score,stat.time,unlocks,unlocksCurr,unlocksTotal
0,1.484295,0.000000,vehicleifv,Infantry Fighting Vehicle,1229,7554,NaN,305357,None,NaN,NaN
1,1.573240,0.000000,vehicleaa,Anti Air,1063,3707,NaN,141377,None,NaN,NaN
2,0.100840,0.000000,None,Transport KA-60,0,1,NaN,595,NaN,NaN,NaN
3,0.526715,0.000000,vehicletr,Transport,119,1967,NaN,224068,None,NaN,NaN
4,0.121745,237.935408,vehiclesjet,Air Jet Stealth,94,96,187620.0,47312,"[{'id': 'belt-feeder2', 'category': 'UPGRADE',...",10.0,10.0
5,0.000000,0.000000,vehiclesh,Air Helicopter Scout AH6,0,0,2296620.0,0,"[{'id': 'stealth-coating2', 'category': 'UPGRA...",27.0,27.0
6,0.344595,258.298780,vehicleajet,Air Jet Attack,166,264,197887.0,45967,"[{'id': 'stealth-coating1', 'category': 'UPGRA...",9.0,9.0
7,1.101604,0.000000,stationary,Weapon Stationary,115,633,NaN,34477,None,NaN,NaN
8,0.678222,0.000000,None,HIMARS,1,15,NaN,1327,NaN,NaN,NaN
9,0.000000,0.000000,None,Air Helicopter Scout z11,0,0,NaN,0,NaN,NaN,NaN
10,0.905295,0.000000,vehiclebo,Boat,61,571,NaN,37844,None,NaN,NaN
11,0.821524,0.000000,vehicleair,Air,66,143,NaN,10444,None,NaN,NaN
12,0.000000,0.000000,stationaryaa,Weapon Stationary AA,1,1,NaN,0,None,NaN,NaN
13,1.212602,677.120727,vehiclembt,Main Battle Tanks,2321,9824,5485750.0,486095,"[{'id': 'thermal-camo1', 'category': 'UPGRADE'...",57.0,57.0
14,0.832895,0.000000,vehiclesh,Air Helicopter Scout,1072,3401,NaN,245001,None,NaN,NaN
15,1.954397,0.000000,None,MBT T90,34,200,NaN,6140,NaN,NaN,NaN
16,0.798457,587.223298,vehicleah,Air Helicopter Attack,1074,4617,3395560.0,346944,"[{'id': 'stealth-coating', 'category': 'UPGRAD...",12.0,12.0
17,0.818942,0.000000,vehiclemar,Mobile Artillery,44,147,NaN,10770,None,NaN,NaN
18,0.217391,0.000000,None,Transport UH-1Y Venom,1,6,NaN,1656,NaN,NaN,NaN
19,0.000000,0.000000,soldier,Soldier Equiment,316,1572,NaN,0,None,NaN,NaN
20,1.367276,1374.918934,vehicleaboat,Fast Attack Craft,215,1272,1279110.0,55819,"[{'id': 'fast-attack-craft-thermal-camo', 'cat...",15.0,15.0
21,1.425919,0.000000,None,Jeep SPM3,0,64,NaN,2693,NaN,NaN,NaN
22,1.962996,0.000000,None,MBT M1 Abrams,24,145,NaN,4432,NaN,NaN,NaN
23,2.035908,0.000000,None,IFV LAV-25,35,395,NaN,11641,NaN,NaN,NaN
24,1.759302,19259.163987,vehicleifv,IFV BTR 90,60,383,4192720.0,13062,"[{'id': 'thermal-camo', 'category': 'UPGRADE',...",51.0,51.0
25,0.000000,0.000000,None,AA 9K22 Tunguska,0,0,NaN,0,NaN,NaN,NaN
26,0.000000,0.000000,vehicleaa,AA LAV-AD,0,0,1657410.0,0,"[{'id': 'thermal-camo2', 'category': 'UPGRADE'...",42.0,42.0

In [10]:
#create dummy variables for each line of data?
json_normalize(final_list[0]['weaponCategory'])

,extra.accuracy,extra.hkp,extra.kpm,extra.sfpm,extra.spm,name,stat.hits,stat.hs,stat.kills,stat.score,stat.shots,stat.time
0,54.785476,2.318617,2.280941,65.407283,0.000000,GADGET,367238,542,23376,NaN,670320,614904
1,40.121392,25.671727,0.935204,3.107202,153.330006,SNIPER RIFLE,23268,4481,17455,2861810.0,57994,1119863
2,12.816520,15.107386,1.790309,48.058670,344.215650,PDW,32839,1442,9545,1835180.0,256224,319889
3,14.191620,14.801223,1.558404,33.167803,183.805938,CARBINE,24692,1210,8175,964200.0,173990,314745
4,35.504820,5.803652,1.879481,11.773008,0.000000,BATTLE PICKUP,12301,321,5531,NaN,34646,176570
5,9.560703,16.968494,2.741980,89.632446,477.243478,LMG,1292940,70199,413702,72005104.0,13523482,9052625
6,59.939453,0.000000,15.464364,63.951789,2600.926260,GRENADE,33659,0,13579,2283830.0,56155,52685
7,25.461971,19.049823,1.059689,10.526276,143.842755,DMR,16397,1235,6483,880006.0,64398,367070
8,13.927648,13.685075,2.269318,51.772966,363.771978,ASSAULT RIFLE,77388,3333,24355,3904110.0,555643,643938
9,0.000000,0.000000,0.000000,0.000000,0.000000,KNIFE,0,0,3676,NaN,0,0
10,52.114632,7.227527,1.823832,10.812978,451.844401,SHOTGUN,18767,439,6074,1504800.0,36011,199821
11,26.396057,38.576181,1.421770,11.766349,236.683484,SIDEARM,32833,5798,15030,2502060.0,124386,634280

In [11]:
main_wc_list = []
for i in range(len(final_list[0]['weaponCategory'])):
    main_wc_list.append(final_list[0]['weaponCategory'][i]['name'])

In [12]:
main_wc_list

['GADGET',
 'SNIPER RIFLE',
 'PDW',
 'CARBINE',
 'BATTLE PICKUP',
 'LMG',
 'GRENADE',
 'DMR',
 'ASSAULT RIFLE',
 'KNIFE',
 'SHOTGUN',
 'SIDEARM']

In [13]:
sub_wc_list = []
for i in range(len(final_list[0]['weaponCategory'])):
    sub_wc_list.append(final_list[0]['weaponCategory'][i]['name'])

In [14]:
list(set(main_wc_list) - set(sub_wc_list))

[]

In [15]:
def json_norm_weapon(player_list,index):
    """
    takes the final list containing dictionary and returns parsed json
    :param final_list:
    :param player_name:
    :return: pandas data frame
    """
    df = player_list[index]['weaponCategory']
    df = json_normalize(df)
    df.index = df.name
    df = df.drop(['name'],axis=1)
    df_series = df.stack()
    df_normalized = df_series.to_frame().T
    df_normalized.columns = ['_'.join(col).strip() for col in df_normalized.columns.values]

    return df_normalized

In [16]:
## Try with some exampes
json_norm_weapon(final_list, index = 0)

,GADGET_extra.accuracy,GADGET_extra.hkp,GADGET_extra.kpm,GADGET_extra.sfpm,GADGET_extra.spm,GADGET_stat.hits,GADGET_stat.hs,GADGET_stat.kills,GADGET_stat.shots,GADGET_stat.time,...,SIDEARM_extra.hkp,SIDEARM_extra.kpm,SIDEARM_extra.sfpm,SIDEARM_extra.spm,SIDEARM_stat.hits,SIDEARM_stat.hs,SIDEARM_stat.kills,SIDEARM_stat.score,SIDEARM_stat.shots,SIDEARM_stat.time
0,54.785476,2.318617,2.280941,65.407283,0.0,367238.0,542.0,23376.0,670320.0,614904.0,...,38.576181,1.42177,11.766349,236.683484,32833.0,5798.0,15030.0,2502060.0,124386.0,634280.0

In [17]:
def json_norm_vehicle(player_list,index):
    """
    takes the final list containing dictionary and returns parsed json
    :param final_list:
    :param player_name:
    :return: pandas data frame
    """
    df = player_list[index]['vehicleCategory']
    df = json_normalize(df)
    df.index = df.name
    df = df.drop(['name'],axis=1)
    df_series = df.stack()
    df_normalized = df_series.to_frame().T
    df_normalized.columns = ['_'.join(col).strip() for col in df_normalized.columns.values]

    return df_normalized

In [18]:
json_norm_vehicle(final_list, index = 0)

,Infantry Fighting Vehicle_extra.kpm,Infantry Fighting Vehicle_extra.spm,Infantry Fighting Vehicle_id,Infantry Fighting Vehicle_stat.destroys,Infantry Fighting Vehicle_stat.kills,Infantry Fighting Vehicle_stat.time,Anti Air_extra.kpm,Anti Air_extra.spm,Anti Air_id,Anti Air_stat.destroys,...,AA LAV-AD_extra.kpm,AA LAV-AD_extra.spm,AA LAV-AD_id,AA LAV-AD_stat.destroys,AA LAV-AD_stat.kills,AA LAV-AD_stat.score,AA LAV-AD_stat.time,AA LAV-AD_unlocks,AA LAV-AD_unlocksCurr,AA LAV-AD_unlocksTotal
0,1.4843,0,vehicleifv,1229,7554,305357,1.57324,0,vehicleaa,1063,...,0,0,vehicleaa,0,0,1.65741e+06,0,"[{'id': 'thermal-camo2', 'category': 'UPGRADE'...",42,42

In [19]:
a = json_normalize(final_list[0]['player'])
c = json_normalize(final_list[0]['stats'])
d = json_norm_vehicle(final_list, index = 0)
e = json_norm_weapon(final_list, index = 0)
c_1 = c.drop('timePlayed', axis=1)

In [20]:
x = a.join(c_1).join(d).join(e)

In [33]:
y = x
y

,adminable,blPlayer,blUser,country,countryName,dateCheck,dateCreate,dateStreak,dateUpdate,editable,...,SIDEARM_extra.hkp,SIDEARM_extra.kpm,SIDEARM_extra.sfpm,SIDEARM_extra.spm,SIDEARM_stat.hits,SIDEARM_stat.hs,SIDEARM_stat.kills,SIDEARM_stat.score,SIDEARM_stat.shots,SIDEARM_stat.time
0,False,http://battlelog.battlefield.com/bf4/soldier/O...,http://battlelog.battlefield.com/bf4/user/Ocul...,PR,Puerto Rico,1563878516271,1397603855674,1563593014668,1563865425925,False,...,38.576181,1.42177,11.766349,236.683484,32833.0,5798.0,15030.0,2502060.0,124386.0,634280.0

In [50]:
# Obtain 10,000 player_ids at a time from webscraped csv file, there are 40,000 players in total for xbox one platform
player_id = []

with open('players_full_dataset.csv') as csvDataFile:
    csvReader = csv.reader(csvDataFile)
    for row in csvReader:
        player_id.append(row[1])

In [51]:
player_id = player_id[2601:3000]
player_id[0]

'SucreBle94'

In [52]:
%%notify
%%time
final_list=[]

# do api calls for 4 entries
for i in range(len(player_id)):
    # create an empty dictionary
    player_information = {}
    url_link = "https://api.bf4stats.com/api/playerInfo?plat=xone&name=" + player_id[i] + "&output=json"
    id = player_id[i]
    res = requests.get(url_link)
    if res.status_code == 200:
        j = res.json()
        final_list.append(j)
    elif res.status_code == 404:
        pass
    else:
        print(res.status_code)
        break

Wall time: 24min 45s

In [53]:
for i in range(1,len(final_list)):
    a = json_normalize(final_list[i]['player'])
    c = json_normalize(final_list[i]['stats'])
    d = json_norm_vehicle(final_list, index = i)
    e = json_norm_weapon(final_list, index = i)
    c_1 = c.drop('timePlayed', axis=1)
    t = a.join(c_1).join(d).join(e)
    y = pd.concat([y, t], ignore_index=True, sort = False)

In [54]:
y.to_csv('BF4_collected_data\part10.csv')

In [45]:
# split sequences into smaller bits
def chunkIt(seq, num):
    avg = len(seq) / float(num)
    out = []
    last = 0.0

    while last < len(seq):
        out.append(seq[int(last):int(last + avg)])
        last += avg

    return out

In [49]:
chunkIt(range(2601,3400),2)

[range(2601, 3000), range(3000, 3400)]