This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = '...'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import csv
import requests
import pandas as pd
import json
import numpy as np
from pandas.io.json import json_normalize

In [3]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned

url = "https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?&start_date=2019-07-15&end_date=2019-07-15&api_key=" + API_KEY
print(url)
res = requests.get(url)
j = res.json()
j.keys()

https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?&start_date=2019-07-15&end_date=2019-07-15&api_key=rxKC3fzqYdkKQugsSsMQ

dict_keys(['dataset'])

In [4]:
# Obtain a basic structure of the dataset
json_normalize(j['dataset'])

,collapse,column_index,column_names,data,database_code,database_id,dataset_code,description,end_date,frequency,...,limit,name,newest_available_date,oldest_available_date,order,premium,refreshed_at,start_date,transform,type
0,None,None,"[Date, Open, High, Low, Close, Change, Traded ...","[[2019-07-15, 84.8, 94.1, 84.8, 93.6, None, 48...",FSE,6129,AFX_X,Stock Prices for Carl Zeiss Meditec (2019-07-0...,2019-07-15,daily,...,None,Carl Zeiss Meditec (AFX_X),2019-07-19,2000-06-07,None,False,2019-07-19T22:19:21.457Z,2019-07-15,None,Time Series

In [5]:
# Obtain all columns within the dataframe above
j['dataset'].keys()

dict_keys(['id', 'dataset_code', 'database_code', 'name', 'description', 'refreshed_at', 'newest_available_date', 'oldest_available_date', 'column_names', 'frequency', 'type', 'premium', 'limit', 'transform', 'column_index', 'start_date', 'end_date', 'data', 'collapse', 'order', 'database_id'])

In [6]:
print(j)

{'dataset': {'id': 10095370, 'dataset_code': 'AFX_X', 'database_code': 'FSE', 'name': 'Carl Zeiss Meditec (AFX_X)', 'description': 'Stock Prices for Carl Zeiss Meditec (2019-07-05) from the Frankfurt Stock Exchange.<br><br>Trading System: Xetra<br><br>ISIN: DE0005313704', 'refreshed_at': '2019-07-19T22:19:21.457Z', 'newest_available_date': '2019-07-19', 'oldest_available_date': '2000-06-07', 'column_names': ['Date', 'Open', 'High', 'Low', 'Close', 'Change', 'Traded Volume', 'Turnover', 'Last Price of the Day', 'Daily Traded Units', 'Daily Turnover'], 'frequency': 'daily', 'type': 'Time Series', 'premium': False, 'limit': None, 'transform': None, 'column_index': None, 'start_date': '2019-07-15', 'end_date': '2019-07-15', 'data': [['2019-07-15', 84.8, 94.1, 84.8, 93.6, None, 481793.0, 43283072.0, None, None, None]], 'collapse': None, 'order': None, 'database_id': 6129}}

In [7]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure

url = "https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?&start_date=2019-07-01&end_date=2019-07-19&api_key=" + API_KEY
res = requests.get(url)
j = res.json()
values = j['dataset']['data']
headers = j['dataset']['column_names']
df = pd.DataFrame(values, columns= headers)
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2019-07-19,98.00,98.35,96.80,97.5,None,110757.0,10795196.0,None,None,None
1,2019-07-18,97.05,98.50,96.35,97.9,None,138280.0,13508944.0,None,None,None
2,2019-07-17,95.30,98.60,94.60,97.3,None,221229.0,21534144.0,None,None,None
3,2019-07-16,93.00,98.60,92.65,95.3,None,278130.0,26587740.0,None,None,None
4,2019-07-15,84.80,94.10,84.80,93.6,None,481793.0,43283072.0,None,None,None

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

#### 1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).

In [8]:
# Make the API call
url = "https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?&start_date=2017-01-01&end_date=2017-12-31&api_key=" + API_KEY
res = requests.get(url)
j = res.json()

# Confirm the url link, API status and dates to ensure the data was collected correctly
print(url)
print(res.status_code)
print(j['dataset']['start_date'])
print(j['dataset']['end_date'])

https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?&start_date=2017-01-01&end_date=2017-12-31&api_key=rxKC3fzqYdkKQugsSsMQ
200
2017-01-01
2017-12-31

Reference: RFC 2616 - HTTP Status Code Definitions
* https://gist.github.com/subfuzion/669dfae1d1a27de83e69
* [HTTP/1.1 Status Code Definitions](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html)
* [Additional HTTP Status Codes](http://tools.ietf.org/html/rfc6585)


#### General
* 400 BAD REQUEST: The request was invalid or cannot be otherwise served. An accompanying error message will explain further. For security reasons, requests without authentication are considered invalid and will yield this response.
* 401 UNAUTHORIZED: The authentication credentials are missing, or if supplied are not valid or not sufficient to access the resource.
* 403 FORBIDDEN: The request has been refused. See the accompanying message for the specific reason (most likely for exceeding rate limit).
* 404 NOT FOUND: The URI requested is invalid or the resource requested does not exists.
* 406 NOT ACCEPTABLE: The request specified an invalid format.
* 410 GONE: This resource is gone. Used to indicate that an API endpoint has been turned off.
* 429 TOO MANY REQUESTS: Returned when a request cannot be served due to the applicationâ€™s rate limit having been exhausted for the resource.
* 500 INTERNAL SERVER ERROR: Something is horribly wrong.
* 502 BAD GATEWAY: The service is down or being upgraded. Try again later.
* 503 SERVICE UNAVAILABLE: The service is up, but overloaded with requests. Try again later.
* 504 GATEWAY TIMEOUT: Servers are up, but the request couldnâ€™t be serviced due to some failure within our stack. Try again later.

#### HTTP GET
* 200 OK: The request was successful and the response body contains the representation requested.
* 302 FOUND: A common redirect response; you can GET the representation at the URI in the Location response header.
* 304 NOT MODIFIED: There is no new data to return.

#### HTTP POST or PUT
* 201 OK: The request was successful, we updated the resource and the response body contains the representation.
* 202 ACCEPTED: The request has been accepted for further processing, which will be completed sometime later.

#### HTTP DELETE
* 202 ACCEPTED: The request has been accepted for further processing, which will be completed sometime later.
* 204 OK: The request was successful; the resource was deleted.

#### 2. Convert the returned JSON object into a Python dictionary.

In [9]:
type(res)

requests.models.Response

In [10]:
res_json = res.json()
type(res_json)

dict

#### 3. Calculate what the highest and lowest opening prices were for the stock in this period.

In [11]:
# Create a blank lists to contain dates and opening prices
dates = []
opening = []
for row in res_json['dataset']['data']:
    opening.append(row[1])
    dates.append(row[0])

In [12]:
# Merge lists in order to combine dates and prices into tuples
def merge(list1, list2): 
    merged_list = tuple(zip(list1, list2))  
    return merged_list
df = merge(dates,opening)
df = list(df)
df[:5]

[('2017-12-29', 51.76),
 ('2017-12-28', 51.65),
 ('2017-12-27', 51.45),
 ('2017-12-22', 51.05),
 ('2017-12-21', 51.16)]

In [13]:
# remove none values from opening prices
df = [row for row in df if row[1] != None]

In [14]:
# print out the highest and lowest opening prices along with their dates
print(max(df,key = lambda item:item[1]))
print(min(df,key = lambda item:item[1]))

('2017-12-14', 53.11)
('2017-01-24', 34.0)

#### 4. What was the largest change in any one day (based on High and Low price)?

In [15]:
dates = []
high = []
low = []
for row in res_json['dataset']['data']:
    high.append(row[2])
    low.append(row[3])
    dates.append(row[0])

In [16]:
# remove tuples containing none values in both high and low prices
df2 = zip(dates,high,low)
df2 = [row for row in df2 if row[1] != None]
df2 = [row for row in df2 if row[2] != None]

In [17]:
# create a list with the absolute value of high and low along with the date
subs = [(x, abs(x1 - x2)) for (x, x1, x2) in df2]

In [18]:
# print out the largest change in one day along with the date of such change
print(max(subs,key = lambda item:item[1]))

('2017-05-11', 2.8100000000000023)

#### 5. What was the largest change between any two days (based on Closing Price)?

In [19]:
dates = []
closing = []
closing_prev = []
for row in res_json['dataset']['data']:
    closing.append(row[4])
    dates.append(row[0])
for row in res_json['dataset']['data'][1:]:
    closing_prev.append(row[4])

In [20]:
# remove tuples containing none values in closing and closing_prev
df3 = zip(dates,closing,closing_prev)
df3 = [row for row in df3 if row[1] != None]
df3 = [row for row in df3 if row[2] != None]

In [21]:
subs = [(x,abs(x1 - x2)) for (x, x1, x2) in df3]
print(max(subs,key = lambda item:item[1]))

('2017-08-09', 2.559999999999995)

#### 6. What was the average daily trading volume during this year?

In [22]:
trading_volume = [row[6] for row in res_json['dataset']['data'] if row[6]!= None]
trading_avg = sum(trading_volume) / len(trading_volume)

print ("The avarage daily trading this year is: " + str(round(trading_avg,2)))

The avarage daily trading this year is: 89124.34

#### 7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [23]:
def median_func(values):
    sort_volume = sorted(values, reverse= False)
    length = len(sort_volume)
    
    # Check if the length is odd or even and return value based on results
    if length % 2 == 1:
        return sort_volume[length//2]
    else:
        return sum(sort_volume[length//2-1:length//2+1])/2.0

In [24]:
print(median_func(trading_volume), 'is the median trading volume during this year')

76286.0 is the median trading volume during this year